<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
  </system.web>
  <appSettings>
    <add key="pb_banco" value="SQL"/>
    <add key="bdType" value="OleDb"/>
    <add key="bdName" value="MSSQL"/>
    <add key="nomeUDL" value="frota.udl"/>
    <add key="localUDL" value="C:\windows\olesrv\frota.udl"/>
  </appSettings>
</configuration>